# URL de la API de Backend para Producción
VITE_API_URL=https://app.miescuela.net/api

# Client ID de Google Cloud Console para Producción
VITE_GOOGLE_CLIENT_ID=690561745115-4a9knpqtgoahrasvveub7rhc8n6gmfka.apps.googleusercontent.com

